@font-face {
    font-family: textile;
    src: url(assets/fonts/textile.ttf);
}

body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: textile;
    margin: 0px;
}

h1{
font-size: 65px;
margin-bottom: 0px;
font-weight: 500;
}

h2{
font-size: 36px;
margin-bottom: 0px;
font-weight: 500;
}

h3{
font-size: 26px;
margin-bottom: 0px;
font-weight: 500;
}

#game{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0px auto;
}

.btn{
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btn:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.weapon-btn{
    margin: 0px 50px;
    background-color: transparent;
    border: none;
}

#weaponBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    padding: 20px 0px;
    background-color: #00000078;
}

#game-results{
    display: flex; 
    border-style: solid;
    border-radius: 5px;
    background-color: #00000078;  
    font-size: 18px;
    margin-bottom: 60px;
}

.score-container{
    display: flex;
    margin: auto auto;
}

.score{
    margin: 0px 50px;
}

.score-number{
    font-size: 25px;
}

.game-message{
    margin-top: 166px;
    font-size: 22px;
}

#computer-play{
    border-right: solid white;
    padding: 15px;
}

#player-play{
    border-left: solid white;
    padding: 15px;
}

#intro_title{
    position: relative;
}

#gamecontainer{
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.39)), url(assets/images/sunny7.jpg);
    /* background-image: radial-gradient(#ffd656,#ffb300), url(assets/images/sunny7.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#introcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(assets/images/sunny5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#titlecontainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start{
    background-color: #f8c016c5;
    color: black;
    border: none;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    font-family: textile;
    font-weight: 400;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

#description{
    /* display: none; */
}

#instructions{
    margin-bottom: 60px;
}

.subheading{
    margin-bottom: 60px;
}

#rock_title_game{
    color: red;
}

#flag_title_game{
    color: white;
}

#eagle_title_game{
    color: blue;
}

#rock_title{
    transition: 1s;
}

#eagle_title{
    transition: 3.1s;
    transition-delay: 1.2s;
}

/* #introcontainer {
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-direction: normal;
    animation-delay: 1s;
    animation-play-state: running;
}
@keyframes example {
    0% {top:0px;}
    100% {top:-700px;} */
}

.animate{

}